name: CI
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  merge_group:
    types: [ checks_requested ]
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        # Keep this list as: all supported LTS JDKs, the latest GA JDK, and the latest EA JDK (optional).
        # Reference: https://adoptium.net/support/
        java:
          - 17
          - 21
          - 25
        container:
          - wildfly-managed
          # Build warp with the JakartaEE11 api and run it using the wildfly-preview server:
          - jakartaee11,wildfly-jakartaee11-managed
          - glassfish-managed
          - tomee-managed
          # Build warp with the JakartaEE11 api and run it using the glassfish 8 server:
          - jakartaee11,glassfish-jakartaee11-managed
        exclude:
          # GlassFish 8 does not support Java 17
          - java: 17
            container: jakartaee11,glassfish-jakartaee11-managed
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Build with Maven
        run: ./mvnw --batch-mode --no-transfer-progress --activate-profiles ${{ matrix.container }} clean verify
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: surefire-${{ matrix.os }}-${{ matrix.java }}-${{ matrix.container }}
          path: '**/surefire-reports/*.txt'
